[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipython3 = "*"

[packages]
numpy = "*"
ipython = "*"
pandas = "*"
matplotlib = "*"
xlrd = "*"
xlwt = "*"
pillow = "*"

[requires]
python_version = "3.6"
