[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipython3 = "*"

[packages]
numpy = "*"
ipython = "*"

[requires]
python_version = "3.6"
